@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("./3.19/Inter-Regular.woff2") format("woff2");
}
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("./3.19/Inter-SemiBold.woff2?v=3.19") format("woff2");
}
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("./3.19/Inter-Bold.woff2?v=3.19") format("woff2");
}
